.search-icon {
  @include position(absolute, 1px null 0 0.75rem);
  @include size(1rem);
  align-items: center;
  color: $action-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 2;

  svg {
    @include size(1rem);
  }
}
