.search-line {
  @include margin(0 null);
  @include position(absolute, 100% null null 0);
  @include size(2px);
  background-color: $action-color;
  border: 0;
  opacity: 0;
  transition: opacity $base-transition, width $base-transition;
}

.search-text {
  &:focus ~ .search-line,
  &:valid ~ .search-line {
    opacity: 1;
    width: 100%;
  }
}
