---
title: Search
---

.search
  input.search-text placeholder="Search" required="required" type="text"
  .search-icon.search-icon--search
    = svg("search")
  button.search-clear data-role="search-clear"
    = svg("x")
  hr.search-line
